<% content_for :head do %>
  <%= javascript_include_tag  "notify" %>
<% end %>
<div class="container">
<h1>Editando Texto</h1>

<%= render 'form' %>

<%= link_to 'Show', @editor %> |
<%= link_to 'Back', editors_path %>
</div>